:root {
  --main-text-color: #000000;
  --secondary-text-color: #ffffff;
  --akcent-text-color: #f7941e;

  --backgraund-primary-color: #fafafa;
  --backgraund-main-color: #ffffff;
  --backgraund-second-color: #000000;
  --backgraund-akcent-color: #f7941e;
  --backgraund-aktive-color: #f1f1f2;
}

body {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  color: var(--main-text-color);
  background-color: var(--backgraund-primary-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.navigation-link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.22;
  display: flex;
  align-items: center;
  color: var(--main-text-color);
}

.hero-title {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.23;
}
